
# Core Libraries
numpy==1.21.6
pandas==1.3.5

# Audio Processing
librosa==0.10.0
soundfile==0.12.1  # Dependency for librosa

# Machine Learning
scikit-learn==1.0.2

# Visualization
matplotlib==3.5.1

# Jupyter Notebook
notebook==6.4.8
ipykernel==6.9.1  # Kernel support for Jupyter
